[Unit]
Description=Pomerium

[Service]
Type=notify
WatchdogSec=30s
ExecStart=/usr/sbin/pomerium -config /etc/pomerium/config.yaml
User=pomerium
Group=pomerium
Environment=AUTOCERT_DIR=/etc/pomerium/

[Install]
WantedBy=multi-user.target
