*.db
.*.yml
.*.yaml
.*.json
.*.rego
*.jq
pem
env
coverage.txt
gsuite.service.account.json
*.pem
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.cover

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Other dirs
/bin/

# Without this, the *.[568vq] above ignores this folder.
!**/graphrbac/1.6

.DS_Store
.idea
.vscode

dist/*
bin/*
tags

# Editor backups
*~
*.sw[a-z]

# IntelliJ IDEA project files
.idea
*.ipr
*.iml

# dependencies
ui/node_modules
ui/bower_components
ui/dist/index.js
ui/dist/index.css

# for building static assets
node_modules

# docs

lib/core/metadata.js
lib/core/MetadataBlog.js

translated_docs
build/
node_modules
i18n/*
docs/.vuepress/dist/
.firebase/
.changes.md

# autocert
.pomerium/

!.pre-commit-config.yaml

.service-accounts

/bazel-*
pkg/envoy/files/envoy-*-?????
pkg/envoy/files/envoy-*-?????.sha256
pkg/envoy/files/envoy-*-?????.version

gha-creds-*.json

# Local issue tracking
.issues/

*.log
*.env
# tcpdump captures
*.pcap
*.pcapng
