#!/bin/bash

export HOST="sso-auth.corp.beyondperimeter.com"
export REDIRECT_URL="https://sso-auth.corp.beyondperimeter.com/oauth2/callback"
export PROXY_ROOT_DOMAIN=beyondperimeter.com
export PROXY_CLIENT_ID=WLgwUNIJW6DtsnAM2ck510znU2T3l+WufPg67e50oVM=
export PROXY_CLIENT_SECRET=gFB0qsSxxPqCtoNMuF7Q1VupJSNEq0BguxlUfT0PE+Y=

# Generate 256 bitrandom key to encrypt the cookie `head -c32 /dev/urandom | base64`
export AUTH_CODE_SECRET=9wiTZq4qvmS/plYQyvzGKWPlH/UBy0DMYMA2x/zngrM=
export COOKIE_SECRET=uPGHo1ujND/k3B9V6yr52Gweq3RRYfFho98jxDG5Br8=
export COOKIE_SECURE=true

# Valid email domains
export EMAIL_DOMAIN=*
export SSO_EMAIL_DOMAIN=*

# IdP configuration
export IDP_PROVIDER="google"
export IDP_PROVIDER_URL="https://sso-auth.corp.beyondperimeter.com"
export IDP_CLIENT_ID="xxx.apps.googleusercontent.com"
export IDP_CLIENT_SECRET="xxx"
export IDP_REDIRECT_URL="https://sso-auth.corp.beyondperimeter.com/oauth2/callback"

# proxy'd routes
export ROUTES='news.corp.beyondperimeter.com':'news.ycombinator.com','github.corp.beyondperimeter.com':'github.com'
