// colors
$accentColor = #6E43E8
$textColor = #24292e
$borderColor = #e8e8fb
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
