{{define "error.html"}}
<!DOCTYPE html>
<html lang="en" charset="utf-8">
  <head>
    <title>{{.Status}} - {{.StatusText}}</title>
    {{template "header.html"}}
  </head>
  <body>
    <div id="main">
      <div id="info-box">
        <div class="card">
          <div class="card-header">
            <img
              class="icon"
              src="{{dataURL "/.pomerium/assets/img/error-24px.svg"}}"
              xmlns="http://www.w3.org/2000/svg"
            />
            <h2>{{.StatusText}}</h2>
            <h2>{{.Status}}</h2>
          </div>
          <section>
            <div class="message">
              <div class="text-monospace">{{.Error}}</div>
            </div>
            {{if .CanDebug}}
            <div class="message">
              If you should have access, contact your administrator and provide
              them with your
              <a href="/.pomerium/">request details</a>.
            </div>
            {{end}}
          </section>
          <div class="card-footer">
            <a href="https://www.pomerium.io">
              <img
                src="{{dataURL "/.pomerium/assets/img/pomerium_circle_96.svg"}}"
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
              />
            </a>
            <div class="text-right text-muted small">
              {{.RequestID}} <br />
              Pomerium {{.Version}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}
