{{define "error.html"}}
<!DOCTYPE html>
<html lang="en" charset="utf-8">

<head>
  <title>{{.Status}} - {{.StatusText}}</title>
  {{template "header.html"}}
</head>

<body>
  <div class="inner">
    <div class="header clearfix">
      <div class="heading"></div>
    </div>
    <div class="content">
      <div class="white box">
        <div class="largestatus">
          <img class="status-bubble" src="{{dataURL "/.pomerium/assets/img/error-24px.svg"}}" xmlns="http://www.w3.org/2000/svg" />
          <div class="title-wrapper">
            <span class="title">{{.Status}} {{.StatusText}}</span>
            <label class="status-time">
              <span>{{.Error}}</span>
            </label>
          </div>
        </div>
        <div class="category-link">
          {{if .CanDebug}}
            If you should have access, contact your administrator with your
            {{if .RequestID }}
            request id {{.RequestID}}
            {{end}}
            {{if and .RequestID .DebugURL }}
            and
            {{end}}
            {{if .DebugURL }}
            <a href="{{.DebugURL}}">session details</a>.
            {{end}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
{{end}}
