{{define "webauthn.html"}}
<!DOCTYPE html>
<html lang="en" charset="utf-8">
  <head>
    {{template "header.html"}}
    <title>WebAuthn</title>
    <script>
      window.PomeriumData = {{.Data}};
    </script>
  </head>

  <body>
    <div class="inner">
      <div class="header clearfix">
        <div class="heading"></div>
      </div>
      <div class="content">
        <div class="white box">
          <div class="largestatus">
            <div class="title-wrapper">
              <span class="title">WebAuthn Registration</span>
            </div>
          </div>
        </div>
        <div class="category white box webauthn">
          <div class="messages">
            <div class="box-inner">
              <form action="{{.SelfURL}}" method="post">
                {{.csrfField}}
                <input type="hidden" name="action" value="register" />
                <input
                  type="hidden"
                  id="register_response"
                  name="register_response"
                />
                <input
                  class="button"
                  type="submit"
                  id="register_button"
                  value="Register New Device"
                />
              </form>
              <form action="{{.SelfURL}}" method="post">
                {{.csrfField}}
                <input type="hidden" name="action" value="authenticate" />
                <input
                  type="hidden"
                  id="authenticate_response"
                  name="authenticate_response"
                />
                <input
                  class="button"
                  type="submit"
                  id="authenticate_button"
                  value="Authenticate Existing Device"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="/.pomerium/assets/js/webauthn.mjs"></script>
  </body>
</html>
{{end}}
