apiVersion: apps/v1
kind: Deployment
metadata:
  name: pomerium
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: pomerium
          image: pomerium/pomerium:v0.27.2
          imagePullPolicy: IfNotFound
