* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
}

.primary {
  color: #6e43e8;
}
.light {
  /* a571ff */
  color: rgb(165, 113, 255);
}
.dark {
  /* #422D66 */
  color: rgb(66, 45, 102);
}

.text-monospace {
  font-size: 0.85rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(165, 113, 255, 0.05);
  color: rgb(33, 37, 41);
  justify-content: space-between;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

#info-box {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 2.2rem;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  min-height: 12em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: rgb(110, 67, 232);
}

h1.title {
  text-align: center;
  padding: 0.75rem 1.25rem;
}

h2 {
  text-align: left;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.25rem;
  font-weight: 650;
}

.card {
  border-radius: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 -30px;
  max-width: 40%;
  min-width: 480px;
  padding: 1.25rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

fieldset {
  margin-bottom: 20px;
  background: #fcfcff5d;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  border: none;
  font-size: 0;
}

fieldset label {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 42px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

fieldset label:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

fieldset label span {
  min-width: 125px;
  padding: 0 15px;
  text-align: right;
}

img.icon {
  width: auto;
  height: 36px;
  border-radius: 50%;
}

.message {
  padding: 2.55rem 0.75rem;
}

.field {
  flex: 1;
  padding: 0 15px;
  font-weight: 400;
  color: rgb(66, 45, 102);
  background: #fcfcff5d;
  outline: none;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

fieldset .select::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 20px;
  top: 50%;
  margin-top: -2px;
  pointer-events: none;
}

input {
  border-style: none;
  outline: none;
}

select {
  flex: 1;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  color: #313b3f;
  cursor: pointer;
  background: transparent;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button {
  color: #fcfcff;
  background: #6e43e8;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  height: 40px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.button.half {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px);
}

.button.full {
  flex-grow: 1;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}
.off-color {
  background: #5735b5;
}

.footer-icon {
  display: inline-table;
  margin-top: -12px;
  height: 24px;
  width: auto;
  vertical-align: top;
}

.text-muted {
  color: #6c757d !important;
  font-size: 0.75rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-top: 0px;
  margin-right: -1.25rem;
  margin-bottom: -1.25rem;
  margin-left: -1.25rem;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  margin-right: -1.25rem;
  margin-top: -1.25rem;
  margin-left: -1.25rem;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.text-right {
  text-align: right;
}
