name: Backport
permissions:
  contents: read
on:
  pull_request_target:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-latest
    name: Backport
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@f717b5ecd4534d3c4df4ce9b5c1c2214f0f7cd06
        with:
          app_id: ${{ secrets.BACKPORT_APP_APPID }}
          private_key: ${{ secrets.BACKPORT_APP_PRIVATE_KEY }}

      - name: Backport
        uses: pomerium/backport@e2ffd4c5a70730dfd19046859dfaf366e3de6466
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          title_template: "{{originalTitle}}"
          copy_original_labels: true
