name: Benchmark

permissions:
  contents: write
  deployments: write

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  benchmark:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.23.x]
        node-version: [22.x]
        platform: [ubuntu-22.04]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version: ${{ matrix.go-version }}
          cache: false

      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
          cache-dependency-path: ui/yarn.lock

      - name: set env vars
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: build dev docker image
        run: |
          ./scripts/build-dev-docker.bash

      - name: start cluster
        run: |
          export POMERIUM_TAG=dev
          cd ./integration/clusters/single-stateful
          docker compose up -d

      - name: integration tests
        run: |
          go test -run='^$' -bench=. ./... | tee benchmark.txt

      - name: store benchmark
        uses: benchmark-action/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7
        with:
          tool: "go"
          output-file-path: benchmark.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          fail-on-alert: true
          comment-on-alert: true
          summary-always: true
