name: goreleaser-check

on:
  pull_request: {}

jobs:
  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout goreleaser.yaml
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9
        with:
          sparse-checkout: goreleaser.yaml
          sparse-checkout-cone-mode: false
      - name: Check goreleaser config is compatible with latest version
        uses: goreleaser/goreleaser-action@v4.3.0
        with:
          version: latest
          args: check
