name: Test
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.17.x]
        node-version: [16.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236 # pin@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: set env vars
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0
      - name: cache go binaries
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        id: cache-go-bin
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ hashFiles('**/go.mod') }}
          restore-keys: ${{ runner.os }}-go-bin

      - uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: make deps-build
      - name: Lint
        if: runner.os == 'Linux'
        run: make lint
      - name: spellcheck
        if: runner.os == 'Linux'
        run: make spellcheck
      - name: test
        if: runner.os != 'Linux'
        run: make test

  cover:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.17.x]
        node-version: [16.x]
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236 # pin@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0

      - name: set env vars
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: cache go binaries
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        id: cache-go-bin
        with:
          path: ~/go/bin
          key: ${{ runner.os }}-${{ hashFiles('**/go.mod') }}
          restore-keys: ${{ runner.os }}-go-bin

      - uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: cover
        run: make cover

      - uses: jandelgado/gcov2lcov-action@2477d9ec11814a9326e7fdde8d315783d163edb7 # pin@v1.0.8
        name: convert coverage to lcov
        with:
          infile: coverage.txt
          outfile: coverage.lcov

      - name: upload to coveralls
        uses: coverallsapp/github-action@9ba913c152ae4be1327bfb9085dc806cedb44057 # pin@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov

  integration:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.17.x]
        node-version: [16.x]
        platform: [ubuntu-latest]
        deployment: [kubernetes, multi, nginx, single, traefik]
        idp: [auth0, azure, github, gitlab, google, oidc, okta, onelogin, ping]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236 # pin@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: set env vars
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0
      - uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        with:
          path: |
            ~/go/pkg
            ~/.cache/go-build
            ~/Library/Caches/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: build dev docker image
        run: |
          ./scripts/build-dev-docker.bash

      - name: start cluster
        run: |
          export POMERIUM_TAG=dev
          cd ./integration/clusters/${{matrix.idp}}-${{matrix.deployment}}
          docker-compose up -d

      - name: integration tests
        run: |
          (cd ./integration/clusters/${{matrix.idp}}-${{matrix.deployment}} && docker-compose logs -f &)
          go test -v ./integration/...

  build:
    strategy:
      matrix:
        go-version: [1.17.x]
        node-version: [16.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236 # pin@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0
      - uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0 # pin@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: build
        run: |
          make build-deps
          make build

      - name: save binary
        uses: actions/upload-artifact@6673cd052c4cd6fcf4b4e6e60ea986c889389535 # pin@v2
        with:
          path: bin/pomerium*
          name: pomerium ${{ github.run_id }} ${{ matrix.platform }}
          retention-days: 1

  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@94ab11c41e45d028884a99163086648e898eed25 # pin@v1

      - name: Docker Build
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a # pin@v2
        with:
          context: .
          file: ./Dockerfile
          push: false

  precommit:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: 1.17.x
      - uses: actions/setup-python@9c644ca2ab8e57ea0a487b5ec2f8290740378bfd # pin@v3
      - uses: pre-commit/action@876132a3c26aa072b09eab6c5395b4749eeb2435 # pin@release
        with:
          extra_args: --show-diff-on-failure --from-ref ${{
            github.event.pull_request.base.sha }} --to-ref ${{
            github.event.pull_request.head.sha }}
        env:
          SKIP: lint

  license:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.17.x]
        platform: [ubuntu-latest]
    needs:
      - build
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # pin@v2
        with:
          go-version: 1.17.x

      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # pin@v3

      - name: retrieve binary
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # pin@v2
        with:
          name: pomerium ${{ github.run_id }} ${{ matrix.platform }}
          path: bin/

      - name: download envoy
        run: make get-envoy

      - name: FOSSA Scan
        uses: fossa-contrib/fossa-action@6cffaa064112e1cf9b5798c6224f9487dc1ec316 # pin@v1
        with:
          fossa-api-key: 18f4ef488f514d06874b75f5809cea93
